version: '3'

services:
 
  redis:
    image: redis
  db:
    image: postgres    
  web:
    build: .
    command: >
      bash -c "pip install -r requirements.txt
      && python3 manage.py migrate --noinput
      && python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  celery:
    build: .
    depends_on:
      - db
      - redis
    command: "celery -A finxi worker -l info"
    volumes:
      - .:/code