<footer class="page-footer">

    <!-- Hidden list of the Process Queue -->
    <ul id="proc_queue" class="hide">
        
    </ul>


    <div class="container">
        <div class="row">
        <div class="col l8 offset-l2 s12" id="proc_queue_footer">
            <h5 class="white-text">Process Queue</h5>
            <p id="no_files_queue">No files in process queue</p>
            <ul id="process_status_list">

            </ul>

        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        A Sales Management Dashboard for Fixin, Inc.
        </div>
    </div>
</footer>