<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Process Queue</h5>
            <ul>
                <li>Processing File 'Desafio.xslx'...
                    <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                    </div>                
                </li>
                <li>Processing File 'Desafio.xslx'...
                    <div class="progress">
                            <div class="determinate" style="width: 10%"></div>
                    </div>                
                </li>
                <li>Processing File 'Desafio.xslx'...
                    <div class="progress">
                            <div class="determinate" style="width: 30%"></div>
                    </div>                
                </li>


            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        A Sales Management Dashboard for Fixin, Inc.
        </div>
    </div>
</footer>