<table id="query_table" class="responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    $('#query_table').DataTable({
        retrieve: true,
        searching: false,
    });
</script>