<table id="query_table" class="responsive-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Total Sold</th>
            <th>Sale Price AVG</th>
            <th>Cost Price AVG</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.total_sold }}</td>
            <td>{{ item.sale_price_avg }}</td>
            <td>{{ item.cost_price_avg }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    $('#query_table').DataTable({
        retrieve: true,
        searching: false,
    });
</script>