<div class="row">
    <form id="import_form" name="import_form" action="/dashboard/import/" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        <!-- Company Input-->
        <div class="row ">

            <div class="col s1 l4"></div>
            <div class="input-field col s8 l4 validate">
                <i class="material-icons prefix">business</i>
                <input type="text" id="id_company_name" name="company_name" class="validate">
                <label for="id_company_name">Company Name</label>
                <span class="helper-text" data-error="Please fill this field" data-success="">Mandatory</span>
            </div>
            <div class="col s3 l4"></div>
        </div>
        
        <!-- File Upload Input-->
        <div class="row">

            <div class="col s2 l4"></div>            
            <div class="input-field col s8 l4">                   
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload a File</span>
                        <input id="sales_file" name="sales_file" type="file" accept=".xlsx">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="sales_file_input" name="sales_file_input" class="file-path validate" type="text">
                        <span class="helper-text" data-error="Please fill this field" data-success="">Mandatory</span>                        
                    </div>
                </div>
            </div>
            <div class="col l4"></div>

        </div>

        <div class="row">
            <button onclick="import_file(import_form)" class="btn waves-effect waves-light" type="button" 
                name="action">Import
                <i class="material-icons right">file_upload</i>
            </button>
        </div>
        
        <!-- Upload Preloader-->
        <div class="row">        
            <div class="preloader-wrapper small active hide" id="import_preloader">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</div>

<!-- Message Modals -->
<div id="import_success_modal" class="modal">
    <div class="modal-content">
        <h4>File uploaded successfully</h4>
        <p>The file is being processed and will soon be available for viewing</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>

<div id="import_fail_modal" class="modal">
    <div class="modal-content">
        <h4>File uploaded FAIL</h4>
        <p id="modal_error_message">Error uploading file</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>

<div id="import_complete_modal" class="modal">
    <div class="modal-content">
        <h4>File processed!</h4>
        <p id="import_complete_message">The file was successfully processed and are ready to query</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>