{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>File Import</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static " materialize/css/materialize.min.css" %}" />
    <script src="{% static "js/jquery.js" %}"></script>
    <script src=></script>
</head>

<body>

    <h1>File Import</h1>

    <form action="/dashboard/import/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enviar">
    </form>

    <div id="errors">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    </div>

</body>
<script type="text/javascript" src="{% static " materialize/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script>
    $(document).ready(function () {
        //setInterval('update_proc_status()', 500);
    });

</script>

</html>