<form id="filter_form" name="filter_form"  method="post">
    {% csrf_token %}
    
    <!-- Company Select -->
    <div class="row">
        <div class="col s1 l4"></div>
        <div id="company_select" class="input-field col s4 l4">
            <!-- Company refresh loads here via ajax -->
        </div>
        <div class="col s3 l4"></div>

    </div>
    <p id="info_select_company" class="center-align">Select a Company first</p>            

    <!-- Product Filter -->

    <div id="row_product" class="row hide">
        <div class="col s1 l4"></div>

        <div class="input-field col s3 l3">
            <input value="" id="product_name" name="product_name" type="text" class="validate">
            <label class="active" for="product_name">Product (Case Sensitive)</label>
        </div>   

        <!-- active on/off product filter -->
        <div class="input-field col s1 l1">
            <label>
                <input id="use_product" name="use_product" onclick="switch_filters(this)" target="product_name" type="checkbox" checked="checked"/>
                <span>Use</span>
            </label>
        </div>
        
        <div class="col s3 l4"></div>
    </div>

    <!-- Category Filter -->
    <div id="row_category" class="row hide">

        <div class="col s1 l4"></div>
        <div id="category_select" class="input-field col s3 l3">
            <!-- Category List refresh loads here via ajax -->
        </div>

        <!-- active on/off category filter -->
        <div class="input-field col s1 l1">
            <label>
                <input id="use_category" name="use_category" onclick="switch_filters(this)" target="category" type="checkbox" checked="checked"/>
                <span>Use</span>
            </label>
        </div>

        <div class="col s3 l4"></div>

    </div>

    <div class="row center-align">

        
            <a id="link_result_ss" name="link_result_ss" href="#results_ss" hidden></a>
            <button class="btn waves-effect waves-light" type="button"
                    onclick="search_filter(filter_form)" name="action">Search
                <i class="material-icons right">search</i>
            </button>

    </div>
</form>
<div id="results_ss" class="section scrollspy">

    <div class="row center-align">
        <h2>Results:</h2>
        <div class="col l1"></div>
        <div class="col l10" id="data_table">
            <!-- Datatable refresh loads here via ajax -->
        </div>

        <div class="col l1"></div>    
    </div>
</div>

<div class="row center-align">
    <div class="preloader-wrapper small active hide" id="data_table_preloader">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
