<!-- Company Select -->
<div class="row">
    <div class="col s1 l4"></div>
    <div class="input-field col s4 l4">
    <select id="company">
        <option value="" disabled selected>Select a company</option>
        <option value="1">Empresas Finxi</option>
        <option value="2">Abacate, Inc</option>
        <option value="3">Tabajara Corp.</option>
    </select>
    <label>Select a Company</label>
    </div>
    <div class="col s3 l4"></div>
</div>

<!-- Product Filter -->
<div class="row">
    <div class="col s1 l4"></div>

    <div class="input-field col s3 l3">
        <input value="" id="product_name" type="text" class="validate">
        <label class="active" for="product_name">Product</label>
    </div>   

    <!-- active on/off product filter -->
    <div class="input-field col s1 l1">
        <label>
            <input id="use_product" onclick="switch_filters(this)" target="product_name" type="checkbox" checked="checked"/>
            <span>Use</span>
        </label>
    </div>
    
    <div class="col s3 l4"></div>
</div>

<!-- Category Filter -->
<div class="row">

    <div class="col s1 l4"></div>
    <div class="input-field col s3 l3">
        <select id="category_name" multiple>
            <option value="" disabled>Choose your option</option>
            <option value="1">Pantufas</option>
            <option value="2">Shorts</option>
            <option value="3">Babadores</option>
            <option value="3">Conjunto</option>
        </select>
        <label>Select Categories</label>
    </div>

    <!-- active on/off category filter -->
    <div class="input-field col s1 l1">
        <label>
            <input id="use_category" onclick="switch_filters(this)" target="category_name" type="checkbox" checked="checked"/>
            <span>Use</span>
        </label>
    </div>

    <div class="col s3 l4"></div>

</div>

<div class="row center-align">


        <button class="btn waves-effect waves-light" type="button" name="action">Search
            <i class="material-icons right">search</i>
        </button>        

</div>

<div class="row center-align">
    <h2>Results:</h2>
    <p>Company: <b>Tabajara Corp.</b></p>
    <div class="col l1"></div>
    <div class="col l10">
        <table id="query_table" class="responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col l1"></div>    
</div>